<!DOCTYPE html>
<html lang="pt-BR">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/style_hortilife_produtos.css">
<title>Hortilife</title>
</head>

<body>
    <div id="app" class="container">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <!--conteudo do App-->
                <section id="product">
                    <div class="header-section">
                        <a href="profile.html"><img style="margin-top: -15px; margin-left: 20px; margin-right: 20px;"
                                src="image/arrow-return.png" width="20" height="32"></a>
                        <span class="title-product" style="text-transform: uppercase;">{{catName || 'Destaques'}}</span>
                        <a href="#"><img style="cursor:hand; margin-bottom: 15px;" src="image/share.png" width="29"
                                height="32"></a>
                    </div>
                    <hr style="border: solid 1px #707070;">
                    </hr>
                    <div style="padding: 0px; margin-left: 19px; text-decoration: none;">
                        <ul class="list-buttons">
                            <li><button style="border-width: 0; border-style: none; background-color: #fff;"
                                    type="button"><a href="#"><img src="image/button-filtros.png" width="110px"
                                            height="38px"></a></button></li>
                            <li><button style="border-width: 0; border-style: none; background-color: #fff;"
                                    type="button"><a href="#"><img src="image/button-retirar.png" width="140px"
                                            height="38px"></a></button></li>
                            <li><button style="border-width: 0; border-style: none; background-color: #fff;"
                                    type="button"><a href="#"><img src="image/button-ordenar.png" width="96px"
                                            height="37px"></a></button></li>
                        </ul>
                    </div>
                    <div v-if="produtos.length>0"
                        style="align-items: center; margin-left: 18px; margin-top: 20px; width: 341px; height: 288px;">
                        <div v-for="prod in produtos"
                            style="text-align:center; font-weight:700;  margin-top: 25px; box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.16); border-radius: 15px; border-width: 0px; align-items: center; padding-left: 20px;">
                            {{prod.nome}}<a href="#"><img src="image/prod-00.png" width="305" height="105">
                            </a>
                        </div>
                    </div>

                    <div v-if="!busca && produtos.length==0"
                        style="align-items: center; margin-left: 18px; margin-top: 20px; width: 341px; height: 288px;">
                        <div
                            style="margin-top: 25px; box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.16); border-radius: 15px; border-width: 0px; align-items: center; padding-left: 20px;">
                            <a href="#"><img src="image/prod-01.png" width="305" height="135"></a>
                        </div>
                        <div
                            style="margin-top: 25px; box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.16); border-radius: 15px; border-width: 0px; align-items: center; padding-left: 20px;">
                            <a href="#"><img src="image/prod-02.png" width="305" height="135"></a>
                        </div>
                        <div
                            style="margin-top: 25px; box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.16); border-radius: 15px; border-width: 0px; align-items: center; padding-left: 20px;">
                            <a href="#"><img src="image/prod-03.png" width="305" height="135"></a>
                        </div>
                        <div
                            style="margin-top: 25px; box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.16); border-radius: 15px; border-width: 0px; align-items: center; padding-left: 20px; z-index: -1;">
                            <a href="#"><img src="image/prod-04.png" width="305" height="135"></a>
                        </div>
                    </div>

                    <div v-if="busca && produtos.length==0"
                        style="align-items: center; margin-left: 48px; margin-top: 100px; ">
                        <span class=" title-product" style="font-size:16px; text-transform: uppercase;">NENHUM PRODUTO
                            ENCONTRADO!</span>
                    </div>


                    <div>
                        <div id="nav-bar" style="position: fixed; bottom: 0; float: right;">
                            <ul class="nav-icos">
                                <li style="list-style-type: none;"><a href="#"><img src="image/ico-home.png" width="19"
                                            height="21"></a></li>
                                <li style="list-style-type: none;"><a href="search.html"><img
                                            src="image/ico-search_active.png" width="21" height="21"></a></li>
                                <li style="list-style-type: none;"><a href="#"><img src="image/ico-delivery.png"
                                            width="21" height="21"></a></li>
                                <li style="list-style-type: none;"><a href="profile.html"><img
                                            src="image/ico-profile.png" width="18" height="22"></a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!--Fim do conteúdo-->
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>

    var app = new Vue({
        el: '#app',
        data: {
            selectedId: 0,
            filtro: '',
            busca: false,
            produtos: [],
            categorias: [],
            catName: ""
        },
        methods: {
            filtrarProdutos: function () {
                window.location.href = "search.html?valor=" + this.filtro;
            },
            init: function () {
                let valor = new URL(location.href).searchParams.get('valor');
                let id = new URL(location.href).searchParams.get('id');

                if (id) {
                    this.busca = true;
                    this.loadProdutosCategoria(id);
                }
                if (valor) {
                    this.busca = true;
                    this.loadProdutos(valor);
                }
            },
            loadProdutos: function (valor) {
                let contexto = this;
                $.get("/api/produtosvc/produtos/busca?valor=" + valor, function (datax) {
                    contexto.produtos = datax;
                });
            },
            loadProdutosCategoria: function (id) {
                let contexto = this;
                $.get("/api/produtosvc/produtos/categoria/" + id, function (datax) {
                    contexto.produtos = datax;
                    for (let d in datax) {
                        contexto.catName = datax[d].categoria.descricao;
                        break;
                    }
                });
            }
        }
    });

    app.init();

</script>

</body>

</html>