<!DOCTYPE html>
<html lang="pt-BR">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/style_hortilife_search.css">
<title>Hortilife</title>
</head>

<body>
    <div id="app" class="container">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <!--conteudo do App-->
                <section id="search">
                    <div class="search-field">
                        <img style="cursor:pointer; float:left; margin-top: 11px; margin-left: 14px;"
                            src="image/search-box.png" width="21" height="21" v-on:click="filtrarProdutos()">
                        <input v-model="filtro" type="text" class="form-control"
                            style="width:250px; background-color: rgb(211, 211, 211); float:left; margin:2px" />
                    </div>
                    <span class="title-search">Buscas Recentes</span>

                    <div>
                        <ul class="list-search">
                            <li style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><a
                                    style="color: #707070; text-decoration: none;" href="#"><img class="img-time"
                                        src="image/time-search.png" width="34" height="29">Legumes</a></li>
                            <hr class="line-itens">
                            <li style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><a
                                    style="color: #707070; text-decoration: none;" href="#"><img class="img-time"
                                        src="image/time-search.png" width="34" height="29">Verduras</a></li>
                            <hr class="line-itens">
                            <li style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><a
                                    style="color: #707070; text-decoration: none;" href="#"><img class="img-time"
                                        src="image/time-search.png" width="34" height="29">Vegetais</a></li>
                            <hr class="line-itens">
                            <li style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><a
                                    style="color: #707070; text-decoration: none;" href="#"><img class="img-time"
                                        src="image/time-search.png" width="34" height="29">Frutas Sortidas</a></li>
                            <hr class="line-itens">
                        </ul>
                    </div>
                    <span class="title-search">Categorias</span>
                    <div style="align-items: center; margin-left: 18px; margin-top: 20px; width: 341px; height:500px">
                        <div v-for="cat in categorias"
                            style="clear:both; box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.16); border-radius: 15px; border-width: 0px; ">
                            <a v-bind:href="'produtos.html?id=' + cat.id"><img src="image/box-legumes.png"
                                    style="float:left; object-fit: cover; object-position: -2% 0;" width="135"
                                    height="108">
                                <div class="item-card"
                                    style="background-color:white; width:200px; height:100px; float:right;">
                                    {{cat.descricao}}</div>
                            </a>
                        </div>
                        <!--<div
                            style="margin-top: 20px; box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.16); border-radius: 15px; border-width: 0px; ">
                            <a href="#"><img src="image/box-frutas.png" width="305" height="107"></a>
                        </div>-->
                    </div>
                    <div>
                        <div id="nav-bar" style="position: fixed; bottom: 0; float: right;">
                            <ul class="nav-icos">
                                <li style="list-style-type: none;"><a href="produtos.html"><img src="image/ico-home.png"
                                            width="19" height="21"></a></li>
                                <li style="list-style-type: none;"><a href="#"><img src="image/ico-search_active.png"
                                            width="21" height="21"></a></li>
                                <li style="list-style-type: none;"><a href="#"><img src="image/ico-delivery.png"
                                            width="21" height="21"></a></li>
                                <li style="list-style-type: none;"><a href="profile.html"><img
                                            src="image/ico-profile.png" width="18" height="22"></a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!--Fim do conteúdo-->
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>

</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>

    var app = new Vue({
        el: '#app',
        data: {
            selectedId: 0,
            filtro: '',
            produtos: [],
            categorias: []
        },
        methods: {
            filtrarProdutos: function () {
                window.location.href = "produtos.html?valor=" + this.filtro;
            },
            loadCategorias: function () {
                let contexto = this;
                $.get("/api/produtosvc/categorias", function (datax) {
                    contexto.categorias = datax;
                });
            }
        }
    });

    app.loadCategorias();

</script>

</body>

</html>