/* Hortilife  */



body {
    padding: 0px;
    margin: 0 auto;
    clear: both;
    background-color: #fff;
}


.title-search {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 11px;
    margin-left: 34px;
    color: #482828;
    font-size: 24px;
    font-weight: 700;
}

.item-card {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #482828;
    padding-top: 40px;
    font-size: 18px;
    font-weight: 700;
}

#search {
    background-color: #FFFFFF;
    /*overflow: hidden;*/
    position: absolute;
    left: 0;
    top: 0;
    width: 375px;
    /*height: 812px;*/
    box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.10);
    }


.search-field {
    width: 306px;
    height: 43px;
    border-radius: 18px;
    background-color: #dadada;
    overflow: hidden;
    outline: none;
    border-width: 0px;
    margin-top: 19px;
    margin-left: 34px;
    margin-bottom: 20px;
    }

    .list-search{
    width: 306px;
    margin-top: 15px;
    color:#707070;
    font-family: SegoeUI;
    font-size: 20px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    display: list-item;
    list-style: none;
    }

    .img-time {
    margin-right: 15px;
    }

    .line-itens {
    width: 306px;
    padding-left: 0px;
    border-bottom: solid 1px #d7d6d6;
    }

    #nav-bar {
    width: 375px;
    height: 65px;
    margin: -28px 0 0;
    padding: 14.7px 56px 7px;
    box-shadow: 0 -2px 9px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    }

    .nav-icos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -40px;
    }