/* Hortilife  */



body {
    padding: 0px;
    margin: 0 auto;
    clear: both;
    background-color: #fff;
    
}

#product {
background-color: #FFFFFF;
overflow: hidden;
position: absolute;
left: 0;
top: 0;
width: 375px;
height: 812px;
box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.10);
}


.header-section {
width: 375px;
height: 50px;
padding-top: 16px;
}

.title-product {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: #13224b;
font-size: 20px;
font-weight: 700;
margin-right: 46px;
}

.list-buttons {
list-style: none;
display: flex;
padding: 0px;
margin-right: 5px;
}

#nav-bar {
width: 375px;
height: 65px;
margin: 309px 0 0;
padding: 14.7px 56px 7px;
box-shadow: 0 -2px 9px 0 rgba(0, 0, 0, 0.16);
background-color: #fff;
position: relative;
}

.nav-icos {
display: flex;
flex-direction: row;
justify-content: space-between;
margin-left: -40px;
}