<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=yes">
    <link rel="icon" type="image/vnd.microsoft.icon" href="../img/favicon.ico?1324977642">
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico?1324977642">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="../assets/cache/bundle.css" type="text/css" media="all">

    <script type="text/javascript">

        var baseDir = "";
        var isLogged = false;
        var isLoggedWishlist = false;

        var prestashop = {
            "cart": {},
            "currency": {},
            "customer": {},
            "language": {},
            "page": {},
            "shop": {},
            "urls": {},
            "configuration": {},
            "field_required": [],
            "breadcrumb": {},
            "link": {},
            "time": 1615852957,
            "static_token": "",
            "token": "",
            "debug": false
        };

        var psemailsubscription_subscription = "";
        var psr_icon_color = "#F19D76";
        var search_url = "";
        var static_token = "";
        var wishlistProductsIdsobject = [];
    </script>

    <style type="text/css">
        @media (min-width: 1200px) {
            .container {
                width: 1200px;
            }

            #header .container {
                width: 1200px;
            }

            .footer .container {
                width: 1200px;
            }

            #index .container {
                width: 1200px;
            }
        }

        @font-face {
            font-family: "IcoFont";
            src: url("http://db.onlinewebfonts.com/t/08abfb8ac2e3dd415deee40206de1335.eot");
            /* IE9*/
            src: url("http://db.onlinewebfonts.com/t/08abfb8ac2e3dd415deee40206de1335.eot?#iefix") format("embedded-opentype"),
                /* IE6-IE8 */
                url("http://db.onlinewebfonts.com/t/08abfb8ac2e3dd415deee40206de1335.woff2") format("woff2"),
                /* chrome firefox */
                url("http://db.onlinewebfonts.com/t/08abfb8ac2e3dd415deee40206de1335.woff") format("woff"),
                /* chrome firefox */
                url("http://db.onlinewebfonts.com/t/08abfb8ac2e3dd415deee40206de1335.ttf") format("truetype"),
                /* chrome firefox opera Safari, Android, iOS 4.2+*/
                url("http://db.onlinewebfonts.com/t/08abfb8ac2e3dd415deee40206de1335.svg#IcoFont") format("svg");
            /* iOS 4.1- */
        }
    </style>

</head>

<body id="authentication" class="lang-en country-gb currency-gbp layout-one-column page-authentication tax-display-enabled page-customer-account
      displayhomenovfour">

    <main id="main-site">

        <div id="wrapper-site">
            <nav data-depth="2">
                <div class="breadcrumb" style="background-color: #3AB54A; margin-bottom:20px">
                    <div>
                        <img style="display: block; margin-left: auto; margin-right: auto; "
                            src="../assets/login_brand.png" height="89" width="50">
                    </div>
                    <div class="container">
                    </div>
                </div>
            </nav>
            <div class="container no-index">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div id="main">
                            <div class="page-header">
                                <h1 class="page-title hidden-xs-up">
                                    Create an account
                                </h1>
                            </div>
                            <section id="content" class="page-content">
                                <div class="block-form-login">
                                    <section class="register-form">
                                        <div class="page_title_account text-center">CRIAR CONTA</div>
                                        <p class="text-center mb-5">Insira as informações da sua conta: </p>
                                        <form action="#" id="customer-form" class="js-customer-form" method="post">
                                            <section>
                                                <div class="form-group row no-gutters novform-id_gender">
                                                    <label class="col-md-2 form-control-label">
                                                        Selecione seu Gênero:
                                                    </label>
                                                    <div class="col-md-8 form-control-valign">
                                                        <label class="radio-inline">
                                                            <span class="custom-radio">
                                                                <input v-model="dados_cadastro.genero" name="id_gender"
                                                                    type="radio" value="1" required>
                                                                <span></span>
                                                            </span>
                                                            Masculino
                                                        </label>
                                                        <label class="radio-inline">
                                                            <span class="custom-radio">
                                                                <input v-model="dados_cadastro.genero" name="id_gender"
                                                                    type="radio" value="2" required>
                                                                <span></span>
                                                            </span>
                                                            Feminino
                                                        </label>
                                                    </div>
                                                    <div class="col-md-2 form-control-comment right">
                                                    </div>
                                                </div>
                                                <div class="form-group row no-gutters novform-firstname">
                                                    <label class="col-md-2 form-control-label required">
                                                        First name
                                                    </label>
                                                    <div class="col-md-8">
                                                        <input v-model="dados_cadastro.nome" class="form-control"
                                                            name="firstname" type="text" value=""
                                                            placeholder="Primeiro Nome" required>
                                                        <span class="form-control-comment mt-15 d-inline-block">
                                                            Apenas letras e o caractere ponto (.), Seguidos de um
                                                            espaço, são permitidos.
                                                        </span>
                                                    </div>
                                                    <div class="col-md-2 form-control-comment right">
                                                    </div>
                                                </div>
                                                <div class="form-group row no-gutters novform-lastname">
                                                    <label class="col-md-2 form-control-label required">
                                                        Último Nome
                                                    </label>
                                                    <div class="col-md-8">
                                                        <input v-model="dados_cadastro.sobrenome" class="form-control"
                                                            name="lastname" type="text" value=""
                                                            placeholder="Último Nome" required>
                                                        <span class="form-control-comment mt-15 d-inline-block">
                                                            Apenas letras e o caractere ponto (.), Seguidos de um
                                                            espaço, são permitidos.
                                                        </span>
                                                    </div>
                                                    <div class="col-md-2 form-control-comment right">
                                                    </div>
                                                </div>
                                                <div class="form-group row no-gutters novform-email">
                                                    <label class="col-md-2 form-control-label required">
                                                        Email
                                                    </label>
                                                    <div class="col-md-8">
                                                        <input v-model="dados_cadastro.email" class="form-control"
                                                            name="email" type="email" value="" placeholder="Email"
                                                            required>
                                                    </div>
                                                    <div class="col-md-2 form-control-comment right">
                                                    </div>
                                                </div>
                                                <div class="form-group row no-gutters novform-password">
                                                    <label class="col-md-2 form-control-label required">
                                                        Senha
                                                    </label>
                                                    <div class="col-md-8">
                                                        <div class="input-group js-parent-focus">
                                                            <input v-model="dados_cadastro.senha"
                                                                class="form-control js-child-focus js-visible-password"
                                                                name="password" type="password" value=""
                                                                placeholder="Senha" required>
                                                            <span class="input-group-btn">
                                                                <button class="btn" type="button"
                                                                    data-action="show-password"
                                                                    data-text-show="<i class='zmdi zmdi-eye-off'></i>"
                                                                    data-text-hide="<i class='zmdi zmdi-eye'></i>">
                                                                    <i class='zmdi zmdi-eye-off'></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 form-control-comment right">
                                                    </div>
                                                </div>
                                                <div class="form-group row no-gutters novform-password">
                                                    <label class="col-md-2 form-control-label required">
                                                        Confirmar Senha
                                                    </label>
                                                    <div class="col-md-8">
                                                        <div class="input-group js-parent-focus">
                                                            <input
                                                                class="form-control js-child-focus js-visible-password"
                                                                name="password" type="password" value=""
                                                                placeholder="Confirmar Senha" required>
                                                            <span class="input-group-btn">
                                                                <button class="btn" type="button"
                                                                    data-action="show-password"
                                                                    data-text-show="<i class='zmdi zmdi-eye-off'></i>"
                                                                    data-text-hide="<i class='zmdi zmdi-eye'></i>">
                                                                    <i class='zmdi zmdi-eye-off'></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 form-control-comment right">
                                                    </div>
                                                </div>
                                                <div class="form-group row no-gutters novform-birthday">
                                                    <label class="col-md-2 form-control-label">
                                                        Data de Nascimento
                                                    </label>
                                                    <div class="col-md-8">
                                                        <input v-model="dados_cadastro.dataNascimento"
                                                            class="form-control" name="birthday" type="text"
                                                            pattern="\d{1,2}/\d{1,2}/\d{4}" value=""
                                                            placeholder="Data de Nascimento">
                                                        <span class="form-control-comment mt-15 d-inline-block">
                                                            Ex: 05/07/1982
                                                        </span>
                                                    </div>
                                                    <div class="col-md-2 form-control-comment right">
                                                        Opcional
                                                    </div>
                                                </div>
                                                <div class="form-group row no-gutters novform-optin">
                                                    <label class="col-md-2 form-control-label">
                                                    </label>
                                                    <div class="col-md-8">
                                                        <span class="custom-checkbox d-inline-flex">
                                                            <input name="optin" type="checkbox" value="1">
                                                            <span><i
                                                                    class="material-icons checkbox-checked">check</i></span>
                                                            <label> Desejo receber ofertas de nossos
                                                                parceiros</label>
                                                        </span>
                                                    </div>
                                                    <div class="col-md-2 form-control-comment right">
                                                    </div>
                                                </div>
                                            </section>
                                            <footer class="form-footer clearfix">
                                                <div class="row no-gutters" style="margin-top:20px">
                                                    <div class="col-md-10 offset-md-2">
                                                        <input type="hidden" name="submitCreate" value="1">
                                                        <button v-on:click="cadastrar()"
                                                            class="btn btn-primary form-control-submit mb-30"
                                                            data-link-action="save-customer" type="button">
                                                            CRIAR MINHA CONTA
                                                        </button>

                                                        <button id="validateButton" style="display:none"
                                                            type="submit">.</button>

                                                    </div>
                                                </div>
                                            </footer>
                                        </form>
                                    </section>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <script type="text/javascript" src="../assets/cache/bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: '#main-site',
            data: {
                mensagem_erro: '',
                dados_cadastro: {
                    nome: '',
                    sobrenome: '',
                    email: '',
                    login: '',
                    senha: '',
                    confirmarSenha: '',
                    dataNascimento: '',
                    genero: '',
                    cpf: ''
                }
            },
            methods: {
                cadastrar: function () {

                    if ($("form")[0].checkValidity()) {
                        $.ajax({
                            type: "POST",
                            url: "http://localhost:8082/cadastrarUsuarioGenerico",
                            data: JSON.stringify(this.dados_cadastro),
                            contentType: "application/json",
                            success: function (datax) {
                                window.location.href = "index.html";
                            },
                            dataType: "text"
                        });
                    } else {
                        $("#validateButton").click();
                    }

                }
            }
        });

    </script>

    <div id="fb-root"></div>

</body>

</html>