<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=yes">
    <link rel="icon" type="image/vnd.microsoft.icon" href="../img/favicon.ico?1324977642">
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico?1324977642">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="../assets/cache/bundle.css" type="text/css" media="all">

    <script type="text/javascript">
        var baseDir = "\/greenbee\/";
        var isLogged = false;
        var isLoggedWishlist = false;

        var prestashop = {
            "cart": {},
            "currency": {},
            "customer": {},
            "language": {},
            "page": {},
            "shop": {},
            "urls": {},
            "configuration": {},
            "field_required": [],
            "breadcrumb": {},
            "link": {},
            "time": 1615852957,
            "static_token": "",
            "token": "",
            "debug": false
        };

        var psemailsubscription_subscription = "";
        var psr_icon_color = "#F19D76";
        var search_url = "";
        var static_token = "";
        var wishlistProductsIdsobject = [];
    </script>

    <style type="text/css">
        @media (min-width: 1200px) {
            .container {
                width: 1200px;
            }

            #header .container {
                width: 1200px;
            }

            .footer .container {
                width: 1200px;
            }

            #index .container {
                width: 1200px;
            }
        }

        @font-face {
            font-family: "IcoFont";
            src: url("http://db.onlinewebfonts.com/t/08abfb8ac2e3dd415deee40206de1335.eot");
            /* IE9*/
            src: url("http://db.onlinewebfonts.com/t/08abfb8ac2e3dd415deee40206de1335.eot?#iefix") format("embedded-opentype"),
                /* IE6-IE8 */
                url("http://db.onlinewebfonts.com/t/08abfb8ac2e3dd415deee40206de1335.woff2") format("woff2"),
                /* chrome firefox */
                url("http://db.onlinewebfonts.com/t/08abfb8ac2e3dd415deee40206de1335.woff") format("woff"),
                /* chrome firefox */
                url("http://db.onlinewebfonts.com/t/08abfb8ac2e3dd415deee40206de1335.ttf") format("truetype"),
                /* chrome firefox opera Safari, Android, iOS 4.2+*/
                url("http://db.onlinewebfonts.com/t/08abfb8ac2e3dd415deee40206de1335.svg#IcoFont") format("svg");
            /* iOS 4.1- */
        }
    </style>

</head>

<body id="authentication" class="lang-en country-gb currency-gbp layout-one-column page-authentication tax-display-enabled page-customer-account
      displayhomenovfour">
    <main id="main-site">

        <div id="wrapper-site">
            <nav data-depth="2">
                <div class="breadcrumb" style="background-color: #3AB54A; margin-bottom:20px">
                    <div>
                        <img style="display: block; margin-left: auto; margin-right: auto; "
                            src="../assets/login_brand.png" height="89" width="50">
                    </div>
                    <div class="container">
                    </div>
                </div>
            </nav>
            <div class="container no-index">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div id="main">
                            <div class="page-header">
                                <h1 class="page-title hidden-xs-up">
                                    Login
                                </h1>
                            </div>
                            <section id="content" class="page-content">
                                <div class="block-form-login">
                                    <section class="login-form">
                                        <div class="page_title_account text-center">Fazer Login</div>

                                        <p class="text-center mb-15">Insira seus dados de Login:</p>
                                        <div class="row no-gutters">
                                            <div class="col-md-10 offset-md-2">
                                            </div>
                                        </div>
                                        <form id="login-form" action="" method="post">
                                            <section>
                                                <input type="hidden" name="back" value="my-account">
                                                <div class="form-group row no-gutters novform-email">
                                                    <label class="col-md-2 form-control-label required">
                                                        E-mail
                                                    </label>
                                                    <div class="col-md-8">
                                                        <input v-model="dados_login.login" class="form-control"
                                                            name="email" type="email" value="" placeholder="Email"
                                                            required>
                                                    </div>
                                                    <div class="col-md-2 form-control-comment right">
                                                    </div>
                                                </div>
                                                <div class="form-group row no-gutters novform-password">
                                                    <label class="col-md-2 form-control-label required">
                                                        Senha
                                                    </label>
                                                    <div class="col-md-8">
                                                        <div class="input-group js-parent-focus">
                                                            <input v-model="dados_login.senha"
                                                                class="form-control js-child-focus js-visible-password"
                                                                name="password" type="password" value=""
                                                                placeholder="Senha" required>
                                                            <span class="input-group-btn">
                                                                <button class="btn" type="button"
                                                                    data-action="show-password"
                                                                    data-text-show="<i class='zmdi zmdi-eye-off'></i>"
                                                                    data-text-hide="<i class='zmdi zmdi-eye'></i>">
                                                                    <i class='zmdi zmdi-eye-off'></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 form-control-comment right">
                                                    </div>
                                                </div>
                                                <div v-if="mensagem_erro">
                                                    <span style="color:red; text-align:center">
                                                        Usuário ou senha inválido!
                                                    </span>
                                                </div>
                                                <div class="forgot-password text-center mt-25 mb-25">
                                                    <i class="zmdi zmdi-email"></i>&nbsp;
                                                    Esqueceu sua senha?&nbsp;
                                                    <a href="password.html" rel="nofollow">
                                                        <span>Clique Aqui</span>&nbsp;
                                                    </a>
                                                </div>
                                            </section>
                                            <footer class="form-footer clearfix">
                                                <div class="row no-gutters">
                                                    <div class="col-md-10 offset-md-2">
                                                        <input type="hidden" name="submitLogin" value="1">
                                                        <button v-on:click="logar()" class="btn btn-primary"
                                                            data-link-action="sign-in" type="button"
                                                            class="form-control-submit">
                                                            Login
                                                        </button>
                                                        <button id="validateButton" style="display:none"
                                                            type="submit">.</button>
                                                    </div>
                                                </div>
                                            </footer>
                                        </form>
                                    </section>
                                    <div class="no-account">
                                        <a class="font-weight-bold" href="combo.html"
                                            data-link-action="display-register-form">
                                            Registrar-me
                                        </a>
                                    </div>
                                </div>
                            </section>
                            <footer class="page-footer">
                                <!-- Footer content -->
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="canvas-overlay"></div>
        <div id="_desktop_back_top">
        </div>

    </main>

    <script type="text/javascript" src="../assets/cache/bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: '#main-site',
            data: {
                mensagem_erro: '',
                dados_login: {
                    login: '',
                    senha: ''
                }
            },
            methods: {
                logar: function () {

                    let contexto = this;

                    if ($("form")[0].checkValidity()) {

                        $.ajax({
                            type: "POST",
                            url: "http://localhost:8082/login",
                            data: JSON.stringify(this.dados_login),
                            contentType: "application/json",
                            success: function (datax) {
                                localStorage.setItem('hortilife_id_user_logged', datax.idUsuario);
                                window.location.href = "index.html";
                            },
                            error: function (datax) {
                                contexto.mensagem_erro = "error";
                            },
                            dataType: "json"
                        });

                    } else {

                        $("#validateButton").click();

                    }

                }
            }

        });

        localStorage.removeItem('carrinho');
        localStorage.removeItem('hortilife_id_user_logged');

    </script>

</body>

</html>