<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hortilife</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=yes">

    <link rel="icon" type="image/vnd.microsoft.icon" href="../img/favicon.ico?1324977642">
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico?1324977642">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="../assets/cache/bundle.css" type="text/css" media="all">

    <script type="text/javascript">
        var baseDir = "";
        var isLogged = false;
        var isLoggedWishlist = false;

        var prestashop = {
            "cart": {},
            "currency": {},
            "customer": {},
            "language": {},
            "page": {},
            "shop": {},
            "urls": {},
            "configuration": {},
            "field_required": [],
            "breadcrumb": {},
            "link": {},
            "time": 1615852957,
            "static_token": "",
            "token": "",
            "debug": false
        };

        var psemailsubscription_subscription = "";
        var psr_icon_color = "#F19D76";
        var search_url = "";
        var static_token = "";
        var wishlistProductsIdsobject = [];

    </script>

    <style type="text/css">
        @media (min-width: 1200px) {
            .container {
                width: 1200px;
            }

            #header .container {
                width: 1200px;
            }

            .footer .container {
                width: 1200px;
            }

            #index .container {
                width: 1200px;
            }
        }

        @font-face {
            font-family: "IcoFont";
            src: url("http://db.onlinewebfonts.com/t/08abfb8ac2e3dd415deee40206de1335.eot");
            /* IE9*/
            src: url("http://db.onlinewebfonts.com/t/08abfb8ac2e3dd415deee40206de1335.eot?#iefix") format("embedded-opentype"),
                /* IE6-IE8 */
                url("http://db.onlinewebfonts.com/t/08abfb8ac2e3dd415deee40206de1335.woff2") format("woff2"),
                /* chrome firefox */
                url("http://db.onlinewebfonts.com/t/08abfb8ac2e3dd415deee40206de1335.woff") format("woff"),
                /* chrome firefox */
                url("http://db.onlinewebfonts.com/t/08abfb8ac2e3dd415deee40206de1335.ttf") format("truetype"),
                /* chrome firefox opera Safari, Android, iOS 4.2+*/
                url("http://db.onlinewebfonts.com/t/08abfb8ac2e3dd415deee40206de1335.svg#IcoFont") format("svg");
            /* iOS 4.1- */
        }
    </style>

</head>

<body id="index" class="lang-en country-gb currency-gbp layout-full-width page-index tax-display-enabled
      displayhomenovfour">

    <main id="main-site">

        <!--------------- HEADER -------------->

        <header id="header" class="header-4 sticky-menu">
            <div class="header-top hidden-sm-down header-color-1 pt-18 pb-18">
                <div class="container">
                    <div class="row d-flex align-items-center">

                        <!--------------- LOGO -------------->

                        <div id="_desktop_logo" class="contentsticky_logo col-lg-2 col-md-3">
                            <a href="#">
                                <img class="logo img-fluid" src="../assets/_logo-navbrar.png" alt="Greenbee">
                            </a>
                        </div>

                        <!--------------- BUSCA -------------->

                        <div class="col-xs-8 col-md-2 col-lg-5 text-center position-static">
                            <div id="_desktop_advancsearch">
                                <div id="_desktop_search_content" data-id_lang="1" data-ajaxsearch="1"
                                    data-novadvancedsearch_type="top" data-instantsearch="" data-search_ssl=""
                                    data-link_search_ssl="" data-action="">
                                    <div class="toggle-search">
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <form method="get" action="" id="searchbox" class="form-novadvancedsearch">
                                        <input type="hidden" name="fc" value="module">
                                        <input type="hidden" name="module" value="novadvancedsearch">
                                        <input type="hidden" name="controller" value="result">
                                        <input type="hidden" name="orderby" value="position" />
                                        <input type="hidden" name="orderway" value="desc" />
                                        <input type="hidden" name="id_category" class="id_category" value="0" />
                                        <div class="input-group input-group-left">
                                            <input type="text" id="search_query_top"
                                                class="search_query ui-autocomplete-input form-control"
                                                name="search_query" value="" placeholder="Busca" />
                                            <span class="input-group-btn button-search">
                                                <button class="btn btn-secondary" type="submit" name="submit_search"><i
                                                        class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!--------------- MENU -------------->

                        <div class="col-md-7 col-lg-5 d-flex align-items-center justify-content-end header-top-right">
                            <div id="block_myaccount_infos"
                                class="myaccount_infos groups-selector hidden-sm-down dropdown js-dropdown">
                                <div class="myaccount-title dropdown-toggle text-center" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    id="_desktop_user_info">
                                    <i></i>
                                </div>
                                <div class="account-list dropdown-menu" aria-labelledby="dropdownMenuButton"
                                    id="_desktop_account_list">
                                    <div class="account-list-content">
                                        <li>
                                            <a class="login" href="login.html" rel="nofollow"
                                                title="Log in to your customer account"><i
                                                    class="fa fa-sign-in"></i><span>Sair</span></a>
                                        </li>
                                        <li>
                                            <a class="check-out" href="#" rel="nofollow" title="Checkout"><i
                                                    class="fa fa-check-circle" aria-hidden="true"></i><span>Finalizar
                                                    Compra</span></a>
                                        </li>
                                        <li class="link_wishlist">
                                            <a href="#" title="My Wishlists">
                                                <i class="fa fa-heart"></i><span>Meus Favoritos</span>
                                            </a>
                                        </li>
                                    </div>
                                </div>
                            </div>

                            <!--------------- CARRINHO -------------->

                            <div class="contentsticky_cart">
                                <div id="_desktop_cart">
                                    <div class="blockcart cart-preview" data-refresh-url="#">
                                        <div class="header-cart text-center">
                                            <div class="header-cart-icon">
                                                <span class="cart-products-count">2</span>
                                                <i class="icon-header-cart"></i>
                                            </div>
                                            <div class="title-cart label-header"></div>
                                        </div>
                                        <div class="cart_block ">
                                            <div class="cart-block-content">
                                                <ul>
                                                    <li v-for="item in carrinho">
                                                        <div class="media">
                                                            <img class="d-flex product-image"
                                                                src="http://demo.bestprestashoptheme.com/greenbee/153-cart_default/mug-today-is-a-good-day.jpg"
                                                                alt="" title="">
                                                            <a class="remove-from-cart"
                                                                data-link-action="delete-from-cart"
                                                                data-link-place="cart-preview" rel="nofollow"
                                                                href="http://demo.bestprestashoptheme.com/greenbee/en/cart?delete=1&amp;id_product=27&amp;id_product_attribute=0&amp;token=657437adc714b3716dff0db916728191"
                                                                title="remove from cart">
                                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                            </a>
                                                            <div class="media-body">
                                                                <div class="product-name"><a
                                                                        href="http://demo.bestprestashoptheme.com/greenbee/en/greenbee/27-mug-today-is-a-good-day.html">{{item.nome}}</a>
                                                                </div>
                                                                <div>
                                                                    <span class="product-price">R${{item.valor}}</span>
                                                                    <span class="quantity"> x 1</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="cart-total">
                                                    <span class="label">Total:</span>
                                                    <span class="value">R${{carrinho.reduce((total, item) => total
                                                        + item.valor, 0)}}</span>
                                                </div>
                                                <div class="cart-buttons">
                                                    <a href="#" class="btn btn-primary mb-5 btn-checkout"><i
                                                            class="fa fa-check-square-o" aria-hidden="true"></i>
                                                        Finalizar Compra</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--------------- SUBHEADER -------------->

            <div class="header-center hidden-sm-down">
                <div class="container">
                    <div class="row align-items-center d-flex">
                        <div class="col-lg-9 col-md-9">
                            <div id="_desktop_top_menu" class="contentsticky_menu">
                                <nav id="nov-megamenu" class="clearfix">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div id="megamenu" class="nov-megamenu clearfix">
                                        <ul class="menu level1">
                                            <li class="item "><a href="#" title="Home">PRODUTOS POR CATEGORIA</a></li>
                                            <li v-for="cat in categorias" class="item home-page has-sub">
                                                <span class="opener"></span><a href="#" title="#"><i
                                                        class="fa fa-angle-down"></i>{{cat.descricao}}</a>
                                                <div class="dropdown-menu" style="width:130px">
                                                    <ul class="">
                                                        <li v-for="sub in cat.subcategoria" class="item "><a href="#"
                                                                title="#">{{sub.descricao}}</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--------------- HEADER-MOBILE -------------->

            <div class="header-mobile hidden-md-up" style="background-color: #3AB54A">
                <div class="hidden-md-up text-xs-center mobile d-flex align-items-center justify-content-end">
                    <div id="_mobile_logo" class="mobile_logo item-mobile-top"></div>
                    <div id="_mobile_search">
                        <div id="_mobile_search_content"></div>
                    </div>
                    <div id="_mobile_menutop"
                        class="item-mobile-top nov-toggle-page d-flex align-items-center justify-content-center"
                        data-target="#mobile-pagemenu"><i class="zmdi zmdi-view-headline"></i></div>
                </div>
            </div>

            <!--------------- MENU PERFIL -------------->

            <div class="account-list dropdown-menu d-none">
                <ul class="account-list-content" id="_desktop_account_list">
                    <li>
                        <a class="login" href="login.html" rel="nofollow" title="Log in to your customer account"><i
                                class="fa fa-sign-in"></i><span>Sair</span></a>
                    </li>
                    <li>
                        <a class="check-out" href="#" rel="nofollow" title="Checkout"><i class="fa fa-check-circle"
                                aria-hidden="true"></i><span>Finalizar
                                Compra</span></a>
                    </li>
                    <li class="link_wishlist">
                        <a href="#" title="My Wishlists">
                            <i class="fa fa-heart"></i><span>Meus Favoritos</span>
                        </a>
                    </li>
                </ul>
            </div>

        </header>

        <!--------------- STICKER TOP MENU -------------->

        <div id="header-sticky" class="sticky-header-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="contentstickynew_logo col-lg-3 col-md-2"></div>
                    <div class="contentstickynew_menu col-lg-7 col-md-9"></div>
                    <div class="group-sticky-right d-flex justify-content-end col-lg-2 col-md-1 align-items-center">
                        <div class="contentstickynew_cart"></div>
                    </div>
                </div>
            </div>
        </div>

        <!--------------- CONTEUDO -------------->

        <div id="wrapper-site">
            <div id="content-wrapper" class="full-width">
                <div id="main">
                    <section id="content" class="page-home pagehome-four">
                        <div class="container">
                            <div class="row">

                                <!--------------- STORY -------------->

                                <div style="width:100%; height:500px; 
                                    background: url(../assets/stories-8afda8c6-48c4-43c5-8a58-531286e39708.jpg); 
                                    background-repeat: no-repeat; background-size: cover;">

                                    <div class="img_cate" style="margin-left:10px; margin-top:10px">
                                        <a href="#">
                                            <img class="img-fluid"
                                                src="https://s3-sa-east-1.amazonaws.com/projetos-artes/fullsize%2F2013%2F01%2F10%2F14%2FLogo-LV-58354_4275_032956204_2127284809.jpg"
                                                style="border-radius: 50%; box-shadow: 0px 6px 5px #ccc; width:50px; height:50px; padding: 2px;
                                                                            background: var(--c,linear-gradient(to right, #03470f, #2ef33f));">
                                        </a>
                                        <span style="font-weight: bold; color: white">Produtor Zézinho</span>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </main>

    <!--------------- MOBILE MENU -------------->

    <div id="mobile-blockcart" class="mobile-boxpage d-flex hidden-md-up">
        <div class="content-boxpage col">
            <div class="box-header d-flex justify-content-between align-items-center">
                <div class="title-box">Carrinho</div>
                <div class="close-box">Fechar</div>
            </div>
            <div id="_mobile_cart" class="box-content"></div>
        </div>
    </div>

    <!--------------- MOBILE PAGE ACCOUNT -------------->

    <div id="mobile-pageaccount" class="mobile-boxpage d-flex hidden-md-up">
        <div class="content-boxpage col">
            <div class="box-header d-flex justify-content-between align-items-center">
                <div class="back-box">Back</div>
                <div class="title-box">Account</div>
                <div class="close-box">Close</div>
            </div>
            <div class="box-content d-flex justify-content-center align-items-center text-center">
                <div>
                    <ul id="_mobile_account_list" class="account-list-content"></ul>
                    <div class="links-currency" data-target="#box-currency" data-titlebox="Currency">
                    </div>
                    <div class="links-language" data-target="#box-language" data-titlebox="Language">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--------------- MOBILE FOOTER -------------->

    <div id="stickymenu_bottom_mobile">
        <div class="row align-items-center justify-content-center hidden-md-up text-center no-gutters">
            <div class="stickymenu-item col">
                <a href="index.html"><img src="../assets/_icos-navigation/Caminho 1775.png"><span>Início</span></a>
            </div>
            <div class="stickymenu-item col">
                <a href="#"><img src="../assets/_icos-navigation/Caminho 1776.png"><span>Busca</span></a>
            </div>
            <div class="stickymenu-item col">
                <div id="_mobile_cart_bottom" class="nov-toggle-page" data-target="#mobile-blockcart"></div>
            </div>
            <div class="stickymenu-item col">
                <a href="#"><img src="../assets/_icos-navigation/Grupo 3585.png"><span>Pedidos</span></a>
            </div>
            <div class="stickymenu-item col">
                <a href="#"><img src="../assets/_icos-navigation/Grupo 3586.png" class="nov-toggle-page"
                        data-target="#mobile-pageaccount"><span>Perfil</span></a>
            </div>
        </div>
    </div>

    <!--------------- MOBILE PAGE MENU 2 -------------->

    <div id="mobile-pagemenu" class="mobile-boxpage d-flex hidden-md-up">
        <div class="content-boxpage col">
            <div class="box-header d-flex justify-content-between align-items-center">
                <div class="title-box">Menu</div>
                <div class="close-box">Close</div>
            </div>
            <div id="_mobile_top_menu" class="js-top-menu box-content"></div>
        </div>
    </div>

    <script type="text/javascript" src="../assets/cache/bundle.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: '#main-site',
            data: {
                mensagem_erro: '',
                stories: [],
                agrupamentos: [],
                categorias: [],
                carrinho: []
            },
            methods: {
                init: function () {

                    let contexto = this;

                    $.ajax({
                        type: "GET",
                        url: "http://localhost:8083/story?idUsuario=1",
                        contentType: "application/json",
                        success: function (datax) {
                            contexto.stories = datax;
                        },
                        dataType: "json"
                    });

                    $.ajax({
                        type: "GET",
                        url: "http://localhost:8083/agrupamento?idUsuario=1",
                        contentType: "application/json",
                        success: function (datax) {
                            contexto.agrupamentos = datax;

                            setTimeout(Nov_Owlcarousel, 1000);
                        },
                        dataType: "json"
                    });

                    $.ajax({
                        type: "GET",
                        url: "http://localhost:8081/categorias",
                        contentType: "application/json",
                        success: function (datax) {
                            contexto.categorias = datax;
                            setTimeout(function () {

                                megamenu_rep();
                                FlipBackMenu();

                                $("#nov-verticalmenu li").first().children('.dropdown-menu').slideDown(300);
                                $("#nov-verticalmenu li").first().children('.block_content').slideDown(300);
                                $("#nov-verticalmenu li").first().addClass('menu-active');

                                $(".show-sub").click(function () {
                                    var $this = $(this);
                                    if ($this.parent().hasClass('menu-active')) {
                                        $this.parent().removeClass('menu-active');
                                        $this.parent().find('.dropdown-menu').slideUp(300)
                                    } else {
                                        $this.parent().parent().find('li').removeClass('menu-active');
                                        $this.parent().toggleClass('menu-active');
                                        $this.parent().find('.dropdown-menu').slideToggle(300)
                                    }
                                    return !1
                                });

                                $('.opener').click(function () {
                                    if ($(this).parent('li').hasClass('menu-active')) {
                                        $(this).parent('li').children('.dropdown-menu').slideUp(300);
                                        $(this).parent('li').removeClass('menu-active')
                                    } else {
                                        $(this).parent('li').children('.dropdown-menu').slideDown(300);
                                        $(this).parent('li').addClass('menu-active')
                                    }
                                });

                            }, 1000);

                        },
                        dataType: "json"
                    });
                },

                loadCarrinho: function () {

                    var dataCart = localStorage.getItem('carrinho');

                    if (dataCart) {
                        this.carrinho = JSON.parse(dataCart);
                    }

                }
            }
        });

        app.init();
        app.loadCarrinho();

    </script>
    <div id="fb-root"></div>
</body>

</html>